// Layout
// -----------------------------
//
// Table of Contents:
//
// 1. TBA

// Layout
//
// Styleguide 1.

// 1. TBA
// - - - - - - - - - - - - - - -

// Grid
//
// We use the grid system provided in ZURB Foundation for Apps. Please see <a href="http://foundation.zurb.com/apps/docs/#!/grid" target="_blank">this documentation</a> for information on how to use it.
// 
// Markup:
// <a class="zf-reference" href="http://foundation.zurb.com/apps/docs/#!/grid" target="_blank">
// 	<img src="/assets/img/zurb.png">
// 	<span>The Grid</span>
// </a>
//
// Styleguide 1.1

// Margin
//
// TBA Description
//
// .m-xsmall - Margin xsmall
// .m-top-xsmall - Margin top xsmall
// .m-right-xsmall - Margin right xsmall
// .m-bottom-xsmall - Margin bottom xsmall
// .m-left-xsmall - Margin left xsmall
// .m-small - Margin small
// .m-top-small - Margin top small
// .m-right-small - Margin right small
// .m-bottom-small - Margin bottom small
// .m-left-small - Margin left small
// .m-medium - Margin medium
// .m-top-medium - Margin top medium
// .m-right-medium - Margin right medium
// .m-bottom-medium - Margin bottom medium
// .m-left-medium - Margin left medium
// .m-large - Margin large
// .m-top-large - Margin top large
// .m-right-large - Margin right large
// .m-bottom-large - Margin bottom large
// .m-left-large - Margin left large
// .m-xlarge - Margin xlarge
// .m-top-xlarge - Margin top xlarge
// .m-right-xlarge - Margin right xlarge
// .m-bottom-xlarge - Margin bottom xlarge
// .m-left-xlarge - Margin left xlarge
// 
// Markup:
// <div class="spacing-margin">
// 	<div class="{{modifier_class}}"></div>
// </div>
//
// Styleguide 1.2
$margin-xsmall: 10px;
$margin-small: 20px;
$margin-medium: 30px;
$margin-large: 40px;
$margin-xlarge: 50px;

.m-xsmall { margin: $margin-xsmall; }
.m-top-xsmall { margin-top: $margin-xsmall; }
.m-right-xsmall { margin-right: $margin-xsmall; }
.m-bottom-xsmall { margin-bottom: $margin-xsmall; }
.m-left-xsmall { margin-left: $margin-xsmall; }

.m-small { margin: $margin-small; }
.m-top-small { margin-top: $margin-small; }
.m-right-small { margin-right: $margin-small; }
.m-bottom-small { margin-bottom: $margin-small; }
.m-left-small { margin-left: $margin-small; }

.m-medium { margin: $margin-medium; }
.m-top-medium { margin-top: $margin-medium; }
.m-right-medium { margin-right: $margin-medium; }
.m-bottom-medium { margin-bottom: $margin-medium; }
.m-left-medium { margin-left: $margin-medium; }

.m-large { margin: $margin-large; }
.m-top-large { margin-top: $margin-large; }
.m-right-large { margin-right: $margin-large; }
.m-bottom-large { margin-bottom: $margin-large; }
.m-left-large { margin-left: $margin-large; }

.m-xlarge { margin: $margin-xlarge; }
.m-top-xlarge { margin-top: $margin-xlarge; }
.m-right-xlarge { margin-right: $margin-xlarge; }
.m-bottom-xlarge { margin-bottom: $margin-xlarge; }
.m-left-xlarge { margin-left: $margin-xlarge; }

// Padding
//
// TBA Description
//
// .p-xsmall - Padding xsmall
// .p-top-xsmall - Padding top xsmall
// .p-right-xsmall - Padding right xsmall
// .p-bottom-xsmall - Padding bottom xsmall
// .p-left-xsmall - Padding left xsmall
// .p-small - Padding small
// .p-top-small - Padding top small
// .p-right-small - Padding right small
// .p-bottom-small - Padding bottom small
// .p-left-small - Padding left small
// .p-medium - Padding medium
// .p-top-medium - Padding top medium
// .p-right-medium - Padding right medium
// .p-bottom-medium - Padding bottom medium
// .p-left-medium - Padding left medium
// .p-large - Padding large
// .p-top-large - Padding top large
// .p-right-large - Padding right large
// .p-bottom-large - Padding bottom large
// .p-left-large - Padding left large
// .p-xlarge - Padding xlarge
// .p-top-xlarge - Padding top xlarge
// .p-right-xlarge - Padding right xlarge
// .p-bottom-xlarge - Padding bottom xlarge
// .p-left-xlarge - Padding left xlarge
// 
// Markup:
// <div class="spacing-padding {{modifier_class}}">
// 	<div></div>
// </div>
//
// Styleguide 1.3

$padding-xsmall: 10px;
$padding-small: 20px;
$padding-medium: 30px;
$padding-large: 40px;
$padding-xlarge: 50px;

.p-xsmall { padding: $padding-xsmall; }
.p-top-xsmall { padding-top: $padding-xsmall; }
.p-right-xsmall { padding-right: $padding-xsmall; }
.p-bottom-xsmall { padding-bottom: $padding-xsmall; }
.p-left-xsmall { padding-left: $padding-xsmall; }

.p-small { padding: $padding-small; }
.p-top-small { padding-top: $padding-small; }
.p-right-small { padding-right: $padding-small; }
.p-bottom-small { padding-bottom: $padding-small; }
.p-left-small { padding-left: $padding-small; }

.p-medium { padding: $padding-medium; }
.p-top-medium { padding-top: $padding-medium; }
.p-right-medium { padding-right: $padding-medium; }
.p-bottom-medium { padding-bottom: $padding-medium; }
.p-left-medium { padding-left: $padding-medium; }

.p-large { padding: $padding-large; }
.p-top-large { padding-top: $padding-large; }
.p-right-large { padding-right: $padding-large; }
.p-bottom-large { padding-bottom: $padding-large; }
.p-left-large { padding-left: $padding-large; }

.p-xlarge { padding: $padding-xlarge; }
.p-top-xlarge { padding-top: $padding-xlarge; }
.p-right-xlarge { padding-right: $padding-xlarge; }
.p-bottom-xlarge { padding-bottom: $padding-xlarge; }
.p-left-xlarge { padding-left: $padding-xlarge; }