.header-bar {
	height: 50px;
	color: #FFF;
	background-color: $primary-color;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-nav {
	background-color: $primary-color;
	color: #FFFFFF;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	li {
		text-align: center;
		flex-grow: 1;
	}

	a {
		color: #FFFFFF;
		text-decoration: none;
		font-size: 18px;
		line-height: 50px;
		display: block;
	}
}