<div class="grid-content shrink collapse">
	<nav id="main-nav">

		<div class="grid-content collapse shrink">
			<div class="logo">
				<a ui-sref="home"><img src="/assets/img/ftr-logo-landscape.png"></a>
			</div>
		</div>

		<div class="grid-content collapse shrink">
			<div class="title">
				UI Documentation
			</div>
		</div>

		<div class="grid-content collapse">
			<div id="nav-groups">
				<ul class="nav-level-1">
					<li>Base
						<ul class="nav-level-2">
							<li>Components
								<ul class="nav-level-3">
									<li class="foundation"><a ui-sref="section-1">Grid</a></li>
									<li class="foundation"><a ui-sref="section-2">Utility</a></li>
									<li><a ui-sref="section-3">Colors</a></li>
									<li><a ui-sref="section-4">Buttons</a></li>
									<li><a ui-sref="section-5">Text</a></li>
									<li><a ui-sref="section-6">Icons</a></li>
									<li><a ui-sref="section-7">Form</a></li>
									<li><a ui-sref="section-8">Tables</a></li>
									<li><a ui-sref="section-9">Tags</a></li>
									<li><a ui-sref="section-10">Navigation</a></li>
									<li><a ui-sref="section-11">Notifications</a></li>
									<li><a ui-sref="section-12">Boxed</a></li>
									<li><a ui-sref="section-13">Tabs</a></li>
									<li><a ui-sref="section-14">Motion</a></li>
									<li><a ui-sref="section-15">Loading</a></li>
									<li><a ui-sref="section-16">Social</a></li>
									<li><a ui-sref="section-17">Images</a></li>
									<li><a ui-sref="section-18">Developer</a></li>
									<li><a ui-sref="section-19">TBA</a></li>
									<li><a ui-sref="section-20">TBA</a></li>
								</ul>
							</li>
							<li>Modules
								<ul class="nav-level-3">
									<li><a ui-sref="home">TBA</a></li>
									<li><a ui-sref="home">TBA</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Court.fm
						<ul class="nav-level-2">
							<li>Components
								<ul class="nav-level-3">
									<li><a ui-sref="home">TBA</a></li>
									<li><a ui-sref="home">TBA</a></li>
								</ul>
							</li>
							<li>Modules
								<ul class="nav-level-3">
									<li><a ui-sref="home">TBA</a></li>
									<li><a ui-sref="home">TBA</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>Transcript Express
						<ul class="nav-level-2">
							<li>Components
								<ul class="nav-level-3">
									<li><a ui-sref="home">TBA</a></li>
									<li><a ui-sref="home">TBA</a></li>
								</ul>
							</li>
							<li>Modules
								<ul class="nav-level-3">
									<li><a ui-sref="home">TBA</a></li>
									<li><a ui-sref="home">TBA</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>