<div class="grid-content shrink collapse">
	<nav id="main-nav">
		<div class="logo">
			<img src="/assets/img/ftr-logo-horizontal.svg">
		</div>
		<div class="product">
			Product 1
		</div>
		<ul>
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="section-1">Layout</a></li>
			<li><a ui-sref="section-2">Utility</a></li>
			<li><a ui-sref="section-3">Colors</a></li>
			<li><a ui-sref="section-4">Buttons</a></li>
			<li><a ui-sref="section-5">Text</a></li>
			<li><a ui-sref="section-6">Icons</a></li>
			<li><a ui-sref="section-7">Form</a></li>
			<li><a ui-sref="section-8">Tables</a></li>
			<li><a ui-sref="section-9">Tags</a></li>
			<li><a ui-sref="section-10">Navigation</a></li>
			<li><a ui-sref="section-11">Notifications</a></li>
			<li><a ui-sref="section-12">Boxed</a></li>
			<li><a ui-sref="section-13">Tabs</a></li>
			<li><a ui-sref="section-14">Motion</a></li>
			<li><a ui-sref="section-15">Loading</a></li>
			<li><a ui-sref="section-16">Social</a></li>
			<li><a ui-sref="section-17">Images</a></li>
			<li><a ui-sref="section-18">Developer</a></li>
			<li><a ui-sref="section-19">TBA</a></li>
			<li><a ui-sref="section-20">TBA</a></li>
		</ul>
	</nav>
</div>